.course {
	width: 290px;
	background-color: var(--light-background);
	border-radius: 24px;
	overflow: hidden;

	@media (max-width: 1240px) {
		justify-content: center;
		width: 100%;
	}

	&__cover {
		position: relative;
		padding-bottom: 47.93%;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 24px;
		height: calc(100% - 47.93%);
		justify-content: flex-end;

		& > :nth-child(1) {
			word-wrap: break-word;
			margin-bottom: auto;
		}

		& > :nth-child(2),
		& > :nth-child(3) {
			width: 242px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}
