.card {
	display: flex;
	gap: 24px;
	padding: 24px;
	width: 290px;
	align-items: center;
	border-radius: 24px;
	background-color: var(--light-background);

	@media (max-width: 1240px) {
		justify-content: center;
		width: 100%;
	}

	@media (max-width: 630px) {
		justify-content: start;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 8px;

		& > :nth-child(1),
		& > :nth-child(2) {
			width: 146px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	&__icon {
		width: 72px;
		height: 72px;
	}
}
