.title {
	padding: 40px 0 20px 0;

	&__container {
		background-color: inherit;
	}
}
.body {
	padding: 20px 0;

	&__container {
		display: flex;
		gap: 40px;

		@media (max-width: 991px) {
			flex-direction: column;
		}
	}
}

.coursesList {
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
	height: fit-content;

	.course {
		flex: 1 1 33.333%;
	}
}

.mentors {
	padding: 20px 0 40px 0;

	&__container {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
}
