.button {
	display: flex;
	padding: 12px 24px;
	background-color: var(--dark-gray);
	border-radius: 24px;
	align-items: center;
	text-align: center;
	flex-direction: row-reverse;
	gap: 8px;
	white-space: nowrap;
	font-size: 20px;
	font-weight: 400;
	border: 1px solid var(--dark-gray);
	color: var(--semi-transparent-light-gray-2);

	transition: all 0.3s ease 0s;

	transition:
		background-color,
		color 0.3s ease 0s;

	&::before {
		font-size: 12px;
	}

	&:hover {
		background-color: var(--semi-transparent-light-gray-2);
		color: var(--dark-gray);
	}
}
