.login {
	position: relative;
	background: url('login.jpg') 100% 100% / contain no-repeat;

	@media (max-width: 1380px) {
		background: url('login.jpg') 100% 100% / cover no-repeat;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-color: #fff;
			opacity: 0.4;
		}
	}

	&__container {
		display: flex;
		gap: 40px;
	}
}

.content {
	height: 100%;
	position: relative;
	padding: 153px 0;
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	gap: 24px;

	@media (max-width: 768px) {
		flex: 1 1 100%;
		padding: 100px 0;
	}
}

form {
	display: flex;
	flex-direction: column;
	gap: 24px;

	& > :last-child {
		justify-content: center;
	}
}
