@font-face {
	font-family: 'icons';
	src: url('../assets/fonts/icons.eot');
	src:
		url('../assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/icons.ttf') format('truetype'),
		url('../assets/fonts/icons.woff') format('woff'),
		url('../assets/fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class*=' _icon-'] {
	&::before {
		font-family: 'icons' !important;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		display: block;
	}
}

._icon-user:before {
	content: '\e919';
}
._icon-cart:before {
	content: '\e918';
}
._icon-add-image:before {
	content: '\e900';
}
._icon-arrow-narrow-left:before {
	content: '\e901';
}
._icon-arrow-narrow-right:before {
	content: '\e902';
}
._icon-arrow-narrow-up:before {
	content: '\e903';
}
._icon-briefcase:before {
	content: '\e904';
}
._icon-broadcast:before {
	content: '\e905';
}
._icon-byway:before {
	content: '\e906';
}
._icon-chevron-right:before {
	content: '\e907';
}
._icon-chevron-up:before {
	content: '\e908';
}
._icon-close:before {
	content: '\e909';
}
._icon-code-browser:before {
	content: '\e90a';
}
._icon-down-chevron:before {
	content: '\e90b';
}
._icon-filter:before {
	content: '\e90c';
}
._icon-graph:before {
	content: '\e90d';
}
._icon-horizontal-dots:before {
	content: '\e90e';
}
._icon-left-chevron:before {
	content: '\e90f';
}
._icon-mail:before {
	content: '\e910';
}
._icon-physics:before {
	content: '\e911';
}
._icon-plus:before {
	content: '\e912';
}
._icon-search:before {
	content: '\e913';
}
._icon-share:before {
	content: '\e914';
}
._icon-star:before {
	content: '\e915';
}
._icon-telescope:before {
	content: '\e916';
}
._icon-video-recorder:before {
	content: '\e917';
}
