:root {
	// Container styles
	[class*='__container'] {
		max-width: var(--maxWidthContainer);
		box-sizing: content-box;
		padding: 0 15px;
		margin: 0 auto;
	}

	// Font families
	--fontFiraSansCondensed: 'Fira Sans Condensed', serif;
	--fontFiraSans: 'Fira Sans', serif;
	--fontInter: 'Inter', serif;
	--fontPoppins: 'Poppins', serif;

	// Width settings
	--minWidth: 320px;
	--maxWidth: 1440px;
	--maxWidthContainer: 1288px;

	// Light shades
	--light-gray: rgba(237, 238, 240, 0.82);
	--light-background: #f9f9fb;
	--semi-transparent-light-gray: rgba(237, 238, 240, 0.68);
	--semi-transparent-light-gray-2: rgba(237, 238, 240, 0.96);
	--semi-transparent-blue: rgba(158, 177, 255, 0.96);

	// Dark shades
	--dark-gray: #111113;
	--dark-background: rgba(28, 32, 36, 0.92);
	--darker-background: #18191b;
	--semi-transparent-dark-gray: rgba(28, 32, 36, 0.74);
	--semi-transparent-darker-gray: rgba(28, 32, 36, 0.72);
	--dark-navy: #1d2939;
	--charcoal-gray: #212225;

	// Blue and green shades
	--light-blue: rgba(158, 177, 255, 0.96);
	--dark-blue: rgba(73, 88, 198, 0.96);
	--teal: rgba(0, 124, 101, 0.98);
	--bright-blue: #60a5fa;
	--light-teal: rgba(11, 216, 182, 0.98);

	// Red and yellow shades
	--light-red: #f87171;
	--yellow: #facc15;
	--gray-blue: #cbd5e1;
}
