.header {
	padding: 16px 0;
	min-height: 80px;
	background-color: var(--darker-background);

	@media (max-width: 600px) {
		min-height: 60px;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 40px;

		@media (max-width: 850px) {
			gap: 15px;
		}
		@media (max-width: 600px) {
			gap: 10px;
		}
	}

	&__logo {
		&::before {
			color: var(--semi-transparent-light-gray-2);
			font-size: 40px;

			@media (max-width: 600px) {
				font-size: 30px;
			}
		}
	}

	&__iconUser {
		&::before {
			color: var(--semi-transparent-light-gray-2);
			font-size: 22px;
		}
	}

	&__actions {
		display: flex;
		gap: 24px;
		align-items: center;

		@media (max-width: 850px) {
			gap: 15px;
		}
		@media (max-width: 600px) {
			gap: 10px;
		}
	}

	&__cart {
		&::before {
			color: var(--semi-transparent-light-gray-2);
			font-size: 20px;
		}
	}

	&__buttons {
		display: flex;
		gap: 24px;

		color: var(--dark-background);
		@media (max-width: 850px) {
			gap: 15px;
		}
		@media (max-width: 600px) {
			gap: 10px;
		}
	}
}
